.video-template {

}

.mbajtesi-kopertines { 
    margin-bottom: 10px;
  }

  .kopertina {
    width: 100%;
    border-radius: 7px;
    cursor: pointer;
  }

  .foto-profili { 
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
  }


  .titulli {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .autori {
    color: rgb(93, 93, 93);
    font-size: 16px;
    margin-bottom: 5px;
  }

  .statistikat { 
    color: rgb(93, 93, 93);
    font-size: 16px;
  }

  .grid-info { 
    display: grid;
    grid-template-columns: 50px 1fr;
  }


  .video-grid { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
  }


  /* Media query for screens with a maximum width of 768px (typical for phones) */
  @media (max-width: 576px) {
  .video-grid {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .sidebar {
    display: none;
  }

  body {
    justify-content: center;
    padding-left:24px;
    padding-right:24px;
  }



}

  @media (min-width: 577px) and (max-width: 768px) {
    .video-grid {
      grid-template-columns: 1fr 1fr;
    }

  }


  @media (min-width: 769px) and (max-width: 992px)  { 
    .video-grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (min-width: 1000px) {
    .video-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }



  



